body {
  font-family: 'Lora', serif;
  background-color: #FFFAD5;
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

#header {
 color: #DB9E36;
 background-color: #105B63;
 padding: 20px;
 position: relative;
}

h1 {
  display: inline;
}

.nav {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

ul {
  margin: 0;
}
.nav ul li {
  display: inline;
  margin-right: 20px;
  font: 16px;
  color: #DB9E36;
}

#banner {
  background-image: url(banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #DB9E36;
  width: 100%;
  height: 300px;
  position: relative;
}

#bannerText {
  font-weight: bold;
  color: #DB9E36;
  padding: 30px;
  border: 3px solid #DB9E36;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
